:root {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: monospace;
    color: white;
}

h1 {
    text-align: center;
}

#gridContainer {
    width: 640px;
    height: 640px;
}

.grid {
    display: flex;
}

.column {
    width: 100%;
}

.element {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: crimson;
    transition: background-color 0.5s;
}

#buttonContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
}

button {
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    padding: 8px;
}

button:hover {
    background-color: darkmagenta;
}

button:active {
    transform: scale(1.02);
}

.etch {
    background-color: aquamarine;
    transition: background-color 0.5s;
}