body {
    background-color: black;
    /* display: flex;
    flex-direction: column; */
}

h1 {
    color: white;
    font-family: monospace;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    margin: 32px;
    /* max-width: 960px;
    border: 2px solid white; */
    padding: 4px;
}

.column {
    border: 0.5px solid black;
    text-align: center;
}

.element {
    border: 1px solid black;
    width: 5vw;
    height: 5vw;
    background-color: crimson;
}

#gridPrompt {
    display: flex;
    justify-content: center;
    border: 2px solid white;
    padding: 8px;
}

button {
    font-family: monospace;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
}